:root {
    font-family: 'lora', sans-serif;
    min-height: 100vh;
    max-width: 1280vh;
    background-color: white;
    margin: 0 auto;

}

body {
    margin: 0px;
    background-color: white;
    border: 1px solid #ddd;
}

.page-container {
    margin-bottom: 70px;

}

.nav {

}

nav {
    background-color: #222222;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav .logo {
 display: flex;
align-items: center;
}    

nav .logo img {
    width: 58px;
    height: 58px;
    padding: 8px;
    border-radius: 50%;
    

}

nav .logo .title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
}

nav ul li {
    color: white;
    padding: 22px 40px;
    background-color: #333333;
    border-radius: 30px;

}

nav ul li:hover {
    background-color: #222222;
}

.active {
    background-color: #222222;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/*  tablets */

@media all and (max-width:800px) {
    nav{
        justify-content: flex-start;
    }

    nav ul{
        justify-content: space-between;
    }

    .subtext {
        flex-direction: column;
    }
}

/* phones */
@media all and (max-width:600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
        align-items: stretch;

    }

    nav ul li {
        text-align: center;
    }

    .container {
        flex-direction: column;
    }

}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    background-image: url(resourses/pexels-photo-4164088.jpeg);
    background-size: cover;
    background-color: rgb(125, 73, 73);
    text-align: center;
}

@keyframes appear {
    from {
        opacity: 0.0;
        top: -100px;
    }

    to {
        opacity: 1.0;
        top: 0.0;

    }
}

.banner .heading {
    flex: 1;
    justify-self: center;
    color: white;
    font-weight: bold;
    font-size: 3em;
    position: relative;
    animation: appear 0.5s ease-in-out 0s forwards;

}

.banner .heading small {
    font-size: 18px;
}

.maintext {
    font-size: 18px;
    padding: 12px;
}

.subtext {
    display: flex;
    /* flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap; */
}



.subtext div {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    
}

.subtext .red {
    background-color: rgb(228, 73, 73);
}

.subtext .yellow {
    background-color: rgb(222, 222, 117);
}

.subtext .green {
    background-color: aquamarine;
}

.quote {
    display: block;
    padding: 50px;
    font-style: italic;
    text-align: center;
    background-color: rgb(223, 212, 212);
}

.quote::before {
    display: inline-block;
    content: open-quote;
    font-size: 32px;
    color: red;
}

.quote::after {
    display: inline-block;
    content: close-quote;
    font-size: 32px;
    color: red;
}

/* projects */

h3.title {
    font-size: 24px;
    padding: 12;
    margin: 6px;
    border-top: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    flex-basis: 325px;
    box-sizing: border-box;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    border: 4px solid #d3d3d3;
}

.project p {
    padding: 0px 12px;
}

.project h4 {
    font-size: 24px;
    padding: 12;
    margin: 6px;
    border-top: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
}

.project img {
    width: 300px;
    height: 300px;
    border-radius: 8px;

    transition: all 0.5s ease-in-out;
}

.project img:hover {
    transform: scale(0.95);
    opacity: 0.5;
}

.project button {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    width: 100%;
}

.project button:hover {
    background-color: rgb(106, 222, 106);
}

/* about page  */

.gallery div img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(2 1fr);
    grid-gap: 8px;
    padding: 12px;
   
}

.gallery-item {
    width: 100%;
    height: 100%;
    transition: all 0.25s ease-in-out;
}

.gallery-item:hover{
    /* transform: scale(0,95); */
    opacity: 0.5;
}


.container {
    display: flex;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px 0px;
   /* min-height: 100vw; */
}

.container form {
    flex: 1;
}

label {
    font-weight: 35px;
    font-style: italic;
    font-size: bold;
}

input[type=text], select, textarea {

    width: 100%;
    padding: 12px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type=submit] {

    border: none;
    color: white;
    background-color: rgb(93, 214, 93);
    border-radius: 8px;
    padding: 12px 20px;
}

input[type=submit]:hover{
    background-color: green;
}

.container .map {
    padding: 12px;
    /* margin-left: 20px; */
    flex: 1;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 24px;
}
 
